/******************************************/
/*								Web Fonts
/******************************************/
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto-regular-webfont.woff2") format('woff2'), url("../fonts/roboto-regular-webfont.woff") format('woff'), url("../fonts/roboto-regular-webfont.ttf") format('truetype'), url("../fonts/roboto-regular-webfont.svg#robotoregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pfAgoraSansProblack';
  src: url("../fonts/pfagorasanspro-black-webfont.eot");
  src: url("../fonts/pfagorasanspro-black-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/pfagorasanspro-black-webfont.woff2") format('woff2'), url("../fonts/pfagorasanspro-black-webfont.woff") format('woff'), url("../fonts/pfagorasanspro-black-webfont.ttf") format('truetype'), url("../fonts/pfagorasanspro-black-webfont.svg#pf_agora_sans_problack") format('svg');
  font-weight: bold;
  font-style: normal;
}
/******************************************/
/*								Layout
/******************************************/
.window {
  height: 100%;
  font-size: 1rem/1.2;
  color: #2757b0;
  background: #fff url("../img/page-bg.png") repeat left top;
}
.wrapper {
  width: 82%;
  max-width: 120rem;
  min-width: 20rem;
  margin: 0 auto;
  padding-left: 1.25rem;
}
/******************************************/
/*						page-header styles
/******************************************/
.page-header {
  margin: 0;
  padding: 0;
}
.page-header__title {
  margin: 1rem;
  font: bold 2rem 'robotoregular', Helvetica, sans-serif;
  color: #202121;
  letter-spacing: 0.05rem;
  text-align: center;
}
/******************************************/
/*					product-container styles
/******************************************/
.products-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  margin: 0;
}
/******************************************/
/*			block product-item styles
/******************************************/
.product-item {
  display: block;
  position: relative;
  float: left;
  width: 14.0625rem;
  height: 21.5625rem;
  margin: 1.9375rem 1.25rem 0 0;
  padding: 0;
  text-decoration: none;
  background-color: #fff;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -webkit-border-radius: 10px;
  border-radius: 10px;
/*Adding box-shadow*/
}
.product-item:hover,
.product-item:active,
.product-item:focus {
  -webkit-box-shadow: 0 0 0.5em 0.3em #ed7474;
  box-shadow: 0 0 0.5em 0.3em #ed7474;
  outline: none;
}
.product-item::before,
.product-item::after {
  content: "";
  position: absolute;
  z-index: -10;
  -webkit-box-shadow: 0 0 12px rgba(58,58,58,0.7);
  box-shadow: 0 0 12px rgba(58,58,58,0.7);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -webkit-border-radius: 70px/12px;
  border-radius: 70px/12px;
}
.product-item::after {
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.product-item__description {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 14.0625rem 0 0 0;
  height: 35.36232%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f2f5f8;
}
.product-item__title {
  width: 66.6666%;
  height: 4rem;
  overflow: hidden;
  padding-top: 7.5%;
  margin: 0 16.666%;
  font: 0.875rem 'robotoregular', Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 0.03rem;
  color: #2757b0;
  word-wrap: break-word;
}
.product-item__price {
  position: absolute;
  margin: 0;
  width: 66.6666%;
  height: 1.5rem;
  top: 73%;
  left: 18%;
  font: 1rem 'pfAgoraSansProblack', Helvetica, sans-serif;
  color: #000;
  text-align: center;
  overflow: hidden;
}
.product-item__price:after {
  content: ' грн';
  font-size: 0.8rem;
  font-weight: bold;
}
.product-item:hover .product-item__description {
  color: #e01f1f;
}
/* Mixin initialization */
.product-item:nth-child(1) {
  background-image: url("../img/backpack-ready-for-school.png");
}
.product-item:nth-child(2) {
  background-image: url("../img/backpack-world-of-birds.png");
}
.product-item:nth-child(3) {
  background-image: url("../img/backpack-madonna.png");
}
.product-item:nth-child(4) {
  background-image: url("../img/backpack-violet-green.png");
}
.product-item:nth-child(5) {
  background-image: url("../img/backpack-ripndip-wilderness.png");
}
.product-item:nth-child(6) {
  background-image: url("../img/backpack-of-the-wall.png");
}
.product-item:nth-child(7) {
  background-image: url("../img/backpack-simple-red.png");
}
/******************************************/
/*					page-footer styles
/******************************************/
.page-footer__info {
  margin-top: 2%;
  font: bold 0.8rem 'robotoregular', Helvetica, sans-serif;
  text-align: center;
  color: #202121;
}
/******************************************/
/*      clearfix for older browsers
/******************************************/
.cf:before,
.cf:after {
  content: " " /* 1 */;
  display: table /* 2 */;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.cf {
  *zoom: 1;
}
